@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

:root {
    --font-main: 'Jost', sans-serif;
    --bg-color: #ffffff;
    --text-main: #1a1a1a;
    --text-muted: #767676;
    --accent: #000000;
}

body {
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased; /* Para que se vea más nítida */
}

/* --- LAYOUT UTILITIES --- */
.container {
    max-width: 1124px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* --- HEADER & NAV --- */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--bg-color);
    border-bottom: 1px solid #eee; 
}

.nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.3em; 
    text-transform: uppercase;
    color: var(--accent);
    text-decoration: none;
}

 
@media screen and (max-width: 767px) {
    .nav__menu {
        display: none; 
    }
}

.nav__list {
    display: flex;
    list-style: none;
    column-gap: 2rem;
}

.nav__link {
    text-decoration: none;
    color: var(--text-main);
    font-size: 0.9rem;
    transition: 0.3s;
}

.nav__link:hover {
    color: var(--text-muted);
}